@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-mode="dark"] {
  --nav-bg-color: #16171c;
  --text-color: #ffffff;
  --bg-color: #16171c;
  --nav-text: #A0AEC0;
}

[data-mode="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg-color: #ffffff;
  --nav-text: #000000;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.navbar {
  background-color: var(--nav-bg-color);
  color: var(--nav-text)
}

html {
  scroll-behavior: smooth;
}

.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

h-screen {
  height: 100vh;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
  border-radius: 10px;
}
::-webkit-scrollbar {
  display: none;
  border-radius: 10px;
}